:root {
  --fluor-green: #58ee5e;
  --pink: #dd7deb;
  --soft-dark: #7b7a86;
  --dark: #39364e;
  --just-white: #fcfdfb;
  --red: #f03a2d;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: var(--dark);
}
body {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  height: auto;
  background-color: var(--dark);
  color: var(--just-white);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
}
.footer-container div {
  padding: 20px;
  width: 100%;
}
.footer-container img {
  margin-left: calc(50% - 90px);
  width: 180px;
}
.footer-container h4 {
  padding-bottom: 10px;
  font-size: 1.9rem;
  color: var(--pink);
}
.footer-container span {
  color: var(--pink);
}
.footer-container li,
.footer-container p {
  padding-left: 20px;
  list-style: none;
}
.footer-container a {
  text-decoration: none;
  color: var(--just-white);
}
.footer-container a:hover {
  color: var(--fluor-green);
}
.derechos {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--just-white);
  background-color: var(--soft-dark);
}
.derechos i {
  position: relative;
  top: 4px;
  font-size: 25px;
  color: var(--red);
}
/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  .footer-container div{
    width: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .footer-container {
    padding: 30px;
  }
  .footer-container div {
    width: 25%;
    }
}
