:root {
  --dark-green: #24942b;
  --fluor-green: #58ee5e;
  --soft-green: #a2f2c3;
  --hover-green:#70e7a2;
  --pink: #dd7deb;
  --dark: #39364e;
  --just-white: #fcfdfb;
  --white: #fff;
  --red: #f03a2d;
  --soft-red: #AC4545;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: var(--dark);
}
body {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
.galeria{
  margin: 30px auto;
  width: 80%;
  height: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit,minmax(250px, auto));
  grid-auto-rows: minmax(350px, auto);
  gap: 40px;
}
.producto-item{
  position: relative;
  min-width: 200px;
  max-width: 350px;
  box-shadow: 0 0 3px 2px var(--fluor-green);
  border-radius: 10px;
  cursor: pointer;
}
.producto-item img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  clip: rect(0px, 100px, 100px, 0px); 
}
.producto-item figcaption{
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  height: 35px;
  text-align: center;
  font-weight: 700;
  color: var(--white);
  text-shadow: 4px 4px 14px var(--dark);
  border-radius: 0 0 10px 10px;
  background: linear-gradient(rgba(200, 234, 161,0.5), var(--dark-green));
}
.circle{
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  clip-path: circle();
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
}
.precio{
  top: 10px;
  left: 10px;
  background-color: var(--dark-green);
}
.dcto{
  top: 10px;
  right: 10px;
  background-color: var(--red);
}
.detalle-producto{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--just-white);
  background-color: rgba(0, 0, 0, .97);
}
.detalle-producto img{
  width: 280px;
  object-fit: cover;
  border: 3px solid rgba(121, 115, 115, 0.651);
}
.detalle-producto > div{
  padding: 20px;
}
.precio-agregar{
  display: flex;
  align-items: center;
  gap: 20px;
}
.detalle-producto h3{
  font-size: 2.2rem;
  color: var(--pink);
}
.detalle-precio{
  padding: 16px 0;
  font-size: 3rem;
  font-weight: 600;
}
.detalle-producto h4{
  padding: 8px 0;
  font-size: 2rem;
}
.descripcion-producto{
  display: none;
}
.button-close{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 3px solid var(--white);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--soft-red);
  cursor: pointer;
}
.detalle-button {
  padding: 5px;
  width: 150px;
  height: 50px;
  border: none;
  font-weight: 600;
  color: var(--dark);
  border-radius: 30px;
  background-color: var(--soft-green);
  cursor: pointer;
}
.detalle-button:hover{
  background-color: var(--hover-green);
}
/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  .detalle-producto > div{
    padding: 30px;
  }
  .detalle-producto h3{
    font-size: 3rem;
  }
  .detalle-precio{
    font-size: 3.5rem;
  }
  .detalle-producto h4{
    font-size: 2.2rem;
    padding: 20px 0;
  }
}
@media only screen and (min-width: 900px) {
  .detalle-producto{
    flex-wrap: nowrap;
  }
  .detalle-producto > div{
    width: 60%;
  }
  .detalle-producto img{
    width: 450px;
  }
}