:root {
  --fluor-green: #58ee5e;
  --primary-green: #32df7f;
  --soft-green: #a2f2c3;
  --lemon-green: #c8eaa1;
  --dark: #39364e;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: var(--dark);
}
body {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  min-width: 320px;
  height: auto;
}
.redes {
  position: relative;
  top: 0;
  padding: 3px;
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: var(--primary-green);
}
.redes a {
  padding: 0 10px;
  font-size: 1.8rem;
  color: var(--dark);
}
.redes a:hover {
  color: var(--soft-green);
}
.menu-container {
  padding: 0 50px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  box-shadow: 0px 4px 8px var(--fluor-green);
}
.logo img {
  padding: 6px 10px 0;
  height: 70px;
  object-fit: cover;
}
.logo img:hover{
  transition: transform 0.3s ease-in-out;
  transform: scale(1.02);
}
.dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 0;
  height: 100vh;
  opacity: 0;
  background: var(--dark);
}
.visible {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  opacity: 0.7;
  transition: opacity ease-in 0.5s;
}
/*menu*/
.menu ul {
  list-style: none;
  text-align: center;
}
.menu-princ {
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 700;
  height: 100vh;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  background: var(--dark);
  transition: all 1s;
}
.menu-open {
  width: 100vw;
  left: 0;
  transition: all 1s;
}
.menu-princ a {
  margin: 20px 0;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 4.5rem;
  text-decoration: none;
  text-align: center;
  color: var(--fluor-green);
}
.menu-princ li:hover {
  width: 300px;
  text-align: center;
  background-color: var(--lemon-green);
}
.menu-princ a:hover {
  color: var(--dark);
}
.top-bar {
  position: relative;
  z-index: 900;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu li .menu-galeria{
  display: none;
}
.mostrar {
  position: absolute;
  display: block;
  opacity: 1;
  transition: opacity 400s;
  transition-delay: 300s;
}
.menu li:hover > .menu-galeria{
  opacity: 1;
  transition: opacity 400s;
  transition-delay: 300s;
}
.menu-galeria li{
  position: relative;
  right: -20px;
}
.up{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-green);
  border: 3px solid var(--fluor-green);
  border-radius: 50%;
  text-decoration: none;
}
.up i{
  font-size: 2rem;
  color: var(--just-white);
}
.up:hover{
  background-color: var(--primary-green);
}
/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  .menu-open {
    width: 420px;
  }
}
@media only screen and (min-width: 900px) {
  .menu-open {
    width: 0px;
    left: -420px;
  }
  .dark-bg {
    display: none;
  }
  .top-bar {
    display: none;
  }
  .menu-princ {
    position: static;
    padding: 0;
    height: 50px;
    width: 100vw;
    transition: none;
  }
  .menu-princ ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menu-princ li {
    padding: 0 15px;
    width: 120px;
  }
  .menu-princ li:hover {
    width: 120px;
    background-color: transparent;
    transition: transform 0.5s ease-out;
    transform: scale(1.1);
  }
  .menu-princ a:hover {
    color: var(--lemon-green);
  }
}