:root {
  --skin: #f4cfb5;
  --white: #ffffff;
  --sky: #4ca9dc;
  --yellow: #fadb03;
  --orange: #f06a16;
  --orange-dark: #f03b1b;
  --green: #86c67b;
  --black: #000000;
  --pink: #ef75af;
  --pink-light: #d5b2bf;
  --green-light: #abb04b;
  --sky-light: #a7b6c4;
  --blue: #3e78c6;
  --purple: #654885;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
}
.powerpuff-burbuja {
  position: relative;
  top: 5rem;
}
.powerpuff-bellota {
  position: relative;
  top: 3rem;
}
.powerpuff {
  position: relative;
  top: 0.3rem;
  width: 21rem;
  height: 21rem;
}
.head {
  position: relative;
  margin: auto;
  width: 20rem;
  height: 15rem;
}
.tail {
  position: absolute;
  top: 2.5rem;
  width: 4.1rem;
  height: 4.1rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--yellow);
}
.tail-left {
  left: 3.7rem;
}
.tail-right {
  right: 3.7rem;
}
.tail::after {
  content: "";
  position: inherit;
  top: 1.9rem;
  width: 5.6rem;
  height: 2.3rem;
  border-bottom: 1px solid var(--black);
  border-top: 1px solid transparent;
  border-radius: 0 0 10rem 10rem;
  background-color: var(--yellow);
}
.tail-left::after {
  position: inherit;
  left: -2rem;
  transform: rotate(7deg);
}
.tail-right::after {
  position: inherit;
  right: -2rem;
  transform: rotate(-7deg);
}
.tail-point {
  position: inherit;
  top: 1.1rem;
  z-index: 1;
  width: 1.4rem;
  height: 1.4rem;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-radius: 0 0 10rem 0;
  background-color: var(--white);
  transform: rotate(48deg);
}
.tail-point-left {
  left: -1.7rem;
}
.tail-point-right {
  right: -1.7rem;
}
.league {
  position: absolute;
  top: 1.8rem;
  z-index: 2;
  width: 1.7rem;
  height: 1.3rem;
  border: 1px solid var(--black);
  background-color: var(--sky);
}
.league-left {
  border-radius: 3rem 1.5rem 2rem 1rem;
  left: 2.9rem;
  transform: rotate(-20deg);
}
.league-right {
  border-radius: 1.5rem 3rem 2rem 1rem;
  right: 2.9rem;
  transform: rotate(20deg);
}
.face {
  margin: auto;
  width: 12rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--skin);
  position: relative;
  top: 4.75rem;
  overflow: hidden;
  z-index: 4;
}
.hair-burbuja {
  width: 10rem;
  height: 1.5rem;
  background-color: var(--yellow);
}
.hair-burbuja::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  z-index: 1;
  left: -1.1rem;
  width: 7rem;
  height: 3.2rem;
  border-bottom: 1px solid var(--black);
  background-color: var(--yellow);
  border-radius: 50%;
}
.hair-burbuja::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -1.1rem;
  z-index: 1;
  width: 7rem;
  height: 3.2rem;
  border-bottom: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--yellow);
}
.eyes {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--white);
  overflow: hidden;
}
.eye-left {
  top: 2rem;
  left: -1rem;
}
.eye-right {
  top: 2rem;
  right: -1rem;
}
.iris {
  position: inherit;
  top: -0.2rem;
  width: 5.1rem;
  height: 5.1rem;
  border-radius: 50%;
}
.iris-burbuja {
  background-color: var(--sky);
}
.iris-left {
  right: -0.6rem;
}
.iris-right {
  left: -0.6rem;
}
.iris::before {
  content: "";
  position: inherit;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--black);
}
.iris-left::before {
  right: 0rem;
}
.iris-right::before {
  left: 0rem;
}
.iris::after {
  content: "";
  position: inherit;
  top: 1.7rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--white);
}
.iris-left::after {
  right: 0.7rem;
}
.iris-right::after {
  left: 0.7rem;
}
.mouth {
  position: absolute;
  left: 5.4rem;
  width: 1rem;
  height: 2rem;
  border-bottom: 2px solid var(--black);
  border-radius: 50%;
  bottom: 2rem;
}
.body {
  position: relative;
  margin: auto;
  width: 9rem;
  height: 5.5rem;
}
.chest {
  position: relative;
  top: -1rem;
  z-index: 1;
  margin: auto;
  width: 2.7rem;
  height: 2.8rem;
  border: 1px solid var(--black);
  overflow: hidden;
  box-shadow: 0 1px 3px var(--black);
}
.chest::after {
  content: "";
  position: absolute;
  top: 1rem;
  width: 2.6rem;
  height: 1.2rem;
  background-color: var(--black);
}
.chest-burbuja {
  background-color: var(--sky);
}
.arm {
  position: absolute;
  width: 3.6rem;
  height: 1.5rem;
  border: 1px solid var(--black);
  background-color: var(--skin);
  border-radius: 5rem 1rem 1rem 5rem;
}
.arm-left-burbuja {
  top: -1.2rem;
  left: 0;
  transform: rotate(-22deg);
}
.arm-right-burbuja {
  top: -1.2rem;
  right: 0;
  transform: rotate(-155deg);
}
.leg-left {
  position: relative;
  top: -1.2rem;
  left: 3.2rem;
  width: 1.4rem;
  height: 3rem;
  border: 1px solid var(--black);
  border-radius: 0 0 2rem 2rem;
  background-color: var(--white);
  overflow: hidden;
}
.leg-left::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  width: 1.3rem;
  height: 1.2rem;
  border: 1px solid var(--black);
  border-radius: 0 0 2rem 2rem;
  background-color: var(--black);
}
.leg-left::after {
  content: "";
  position: absolute;
  top: 1.8rem;
  left: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 0 0 2rem 2rem;
  background-color: var(--white);
}
.leg-right {
  position: absolute;
  top: 1.4rem;
  right: 3rem;
  z-index: 2;
  width: 1.4rem;
  height: 2rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 2rem;
  overflow: hidden;
}
.leg-right::before {
  content: "";
  position: absolute;
  top: 0.7rem;
  width: 1.3rem;
  height: 1.2rem;
  border: 1px solid var(--black);
  border-radius: 0 0 2rem 2rem;
  background-color: var(--black);
}
.leg-right::after {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0.24rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 0 0 2rem 2rem;
  background-color: var(--white);
}
/* bombon */
.iris-bombon,
.chest-bombon {
  background-color: var(--pink);
}
.arm-left-bombon {
  top: -0.8rem;
  left: 0.3rem;
  transform: rotate(-50deg);
}
.arm-right-bombon {
  top: -8rem;
  right: -3.5rem;
  transform: rotate(120deg);
}
.hair-bombon {
  position: relative;
  width: 12rem;
  height: 1.3rem;
  background-color: var(--orange);
}
.fringe-1 {
  position: absolute;
  top: 1.1rem;
  z-index: 1;
  width: 2.5rem;
  height: 1.5rem;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  background-color: var(--orange);
  transform: skewX(-38deg);
}
.fringe-2 {
  position: absolute;
  top: 1rem;
  left: 2.8rem;
  z-index: 1;
  width: 2.8rem;
  height: 1.5rem;
  border: 1px solid var(--black);
  border-top: 0;
  background-color: var(--orange);
  transform: skewX(-20deg) rotate(-10deg);
}
.fringe-3 {
  position: absolute;
  top: 1rem;
  z-index: 1;
  width: 2.9rem;
  height: 1.5rem;
  right: 3.2rem;
  border: 1px solid var(--black);
  border-top: 0;
  background-color: var(--orange);
  transform: skewX(20deg) rotate(10deg);
}
.fringe-4 {
  position: absolute;
  top: 1.1rem;
  right: 0.2rem;
  z-index: 1;
  width: 2.6rem;
  height: 1.5rem;
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  background-color: var(--orange);
  transform: skewX(38deg);
}
.head-band {
  position: absolute;
  top: 4rem;
  left: 5.6em;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--orange-dark);
  border: 1px solid var(--black);
  border-radius: 50% 50% 0 0;
}
.head-band::after {
  content: "";
  position: absolute;
  top: -4.2rem;
  left: -2.5em;
  width: 4rem;
  height: 8rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--orange-dark);
}
.head-band::before {
  content: "";
  position: absolute;
  top: -4.2rem;
  right: -2.5em;
  width: 4rem;
  height: 8rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--orange-dark);
}
.loose-hair-bombon {
  position: absolute;
  top: 13rem;
  left: 8rem;
  width: 4rem;
  height: 5.5rem;
  border: 1px solid var(--black);
  border-radius: 0 0 15rem 15rem;
  background-color: var(--orange);
}
.loose-hair {
  position: absolute;
  top: 3rem;
  left: -1.2rem;
  width: 6rem;
  height: 2.5rem;
  border: 1px solid var(--black);
  border-top: 0;
  border-radius: 0 0 15rem 15rem;
  background-color: var(--orange);
}
.loose-hair::after {
  content: "";
  position: inherit;
  top: -0.5rem;
  left: 0.1rem;
  width: 0.9rem;
  height: 1rem;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-radius: 0 0 50% 0;
  background-color: var(--white);
}
.loose-hair::before {
  content: "";
  position: inherit;
  top: -0.5rem;
  right: -0.1rem;
  width: 0.9rem;
  height: 1rem;
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-radius: 0 0 0 50%;
  background-color: var(--white);
}
/* bellota */
.iris-bellota,
.chest-bellota {
  background-color: var(--green);
}
.frown-left {
  position: absolute;
  top: 2.2rem;
  left: 0.8rem;
  z-index: 1;
  width: 4.3rem;
  height: 0.9rem;
  border: 1px solid black;
  border-top: 0;
  border-radius: 0 0 4px 0;
  background-color: var(--skin);
  transform: rotate(20deg);
}
.frown-right {
  position: absolute;
  top: 2.2rem;
  right: 0.8rem;
  z-index: 1;
  width: 4.3rem;
  height: 0.9rem;
  border: 1px solid black;
  border-top: 0;
  border-radius: 0 0 0 4px;
  background-color: var(--skin);
  transform: rotate(-20deg);
}
.hair-bellota {
  position: relative;
  width: 12rem;
  height: 1.4rem;
  background-color: var(--black);
}
.bellota-fringe-1 {
  position: absolute;
  top: 1.1rem;
  left: 0.3rem;
  z-index: 2;
  width: 5.2rem;
  height: 1.7rem;
  border: 1px solid var(--black);
  border-top: 0;
  background-color: var(--black);
  transform: skewX(-40deg) rotate(-10deg);
}
.bellota-fringe-2 {
  position: absolute;
  top: 1.1rem;
  right: 0.5rem;
  z-index: 2;
  width: 5.2rem;
  height: 1.5rem;
  border: 1px solid var(--black);
  border-top: 0;
  background-color: var(--black);
  transform: skewX(40deg) rotate(10deg);
}
.loose-hair-bellota {
  position: absolute;
  top: 7.8rem;
  width: 3.5rem;
  height: 4.3rem;
  background-color: var(--black);
  border-radius: 0 0 0 10rem;
}
.loose-hair-left {
  left: 2.2rem;
  transform: rotate(20deg);
}
.loose-hair-right {
  right: 2.2rem;
  transform: rotate(-20deg) rotateY(180deg);
}
.loose-hair-right::after {
  content: "";
  position: inherit;
  top: -4.5rem;
  right: -0.7rem;
  width: 0.5rem;
  height: 1.2rem;
  background-color: var(--black);
  transform: skewY(-50deg) rotate(-10deg);
}
.loose-hair-right::before {
  content: "";
  position: inherit;
  top: -4.2rem;
  right: -0.6rem;
  width: 0.8rem;
  height: 1.2rem;
  background-color: var(--black);
  transform: skewY(50deg) rotate(-25deg);
}
.arm-left-bellota {
  top: -1.3rem;
  left: -1.5rem;
  transform: rotate(-60deg);
}
.arm-right-bellota {
  top: -1.3rem;
  right: -1.3rem;
  transform: rotate(-120deg);
}
/* mojojojo */
.hat {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 13rem;
  height: 12.5rem;
  border: 1px solid var(--black);
  border-radius: 6rem 6rem 0 0;
  background-color: var(--sky-light);
  overflow: hidden;
}
.ormament-bg {
  position: relative;
  width: 13rem;
  height: 8.4rem;
  background-color: var(--white);
}
.ornament {
  position: absolute;
  width: 9rem;
  height: 2.9rem;
  border: 1px solid var(--black);
  border-top: none;
  border-radius: 0 0 10rem 10rem;
  background-color: var(--white);
}
.ornament-left {
  top: 4.8em;
  left: -2.3rem;
}
.ornament-right {
  top: 4.8em;
  right: -2.7rem;
}
.ornament-1 {
  height: 3.4rem;
  border: 3px solid var(--purple);
  border-top: none;
}
.ornament-left-1 {
  top: 5rem;
  left: -2.2rem;
}
.ornament-right-1 {
  top: 5rem;
  right: -2.6rem;
}
.ornament-2 {
  height: 7rem;
  border: 3px solid var(--purple);
  border-top: none;
}
.ornament-left-2 {
  top: 0rem;
  left: -2.7rem;
}
.ornament-right-2 {
  top: 0rem;
  right: -2.8rem;
}
.ornament-left-3 {
  top: -1.8rem;
  left: -3.5rem;
}
.ornament-right-3 {
  top: -1.8rem;
  right: -3.5rem;
}
.ornament-left-4 {
  top: -3.6rem;
  left: -4.5rem;
}
.ornament-right-4 {
  top: -3.6rem;
  right: -4.5rem;
}
.head-moh {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 20rem;
  height: 10rem;
}
.ear {
  position: absolute;
  width: 3.3rem;
  height: 3.8rem;
  border: 1px solid var(--black);
  border-radius: 22rem 0 0 16rem;
  background-color: var(--green-light);
}
.ear::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  width: 2.5rem;
  height: 2rem;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-radius: 20rem 0 0 10rem;
  transform: rotate(60deg);
}
.ear::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1.8rem;
  width: 1rem;
  height: 1.3rem;
  border: 1px solid var(--black);
  border-right: none;
  border-radius: 20rem 0 0 10rem;
  transform: rotate(25deg);
}
.ear-left {
  left: 0.2rem;
  transform: skew(6deg, 18deg) rotate(5deg);
}
.ear-right {
  transform: skew(-6deg, -18deg) rotate(-5deg) rotateY(180deg);
  right: 0.2rem;
}
.face-moh {
  position: relative;
  margin: auto;
  width: 13rem;
  height: 8rem;
  border-radius: 0 0 50% 50%;
  border: 1px solid var(--black);
  background-color: var(--black);
}
.face-front-moh {
  position: absolute;
  top: 3.5rem;
  left: 3.7rem;
  width: 6rem;
  height: 6rem;
  background-color: var(--green-light);
  border-radius: 50%;
  border: 1px solid var(--black);
  border-top: 0;
}
.face-front-moh::after {
  content: "";
  position: absolute;
  top: -2.4rem;
  right: 3rem;
  width: 5.8rem;
  height: 3rem;
  border-radius: 0 0 10rem 10rem;
  background-color: var(--green-light);
  transform: rotate(35deg);
}
.face-front-moh::before {
  content: "";
  position: absolute;
  top: -2.4rem;
  left: 2.7rem;
  width: 5.8rem;
  height: 3rem;
  border-radius: 0 0 10rem 10rem;
  background-color: var(--green-light);
  transform: rotate(-35deg);
}
.eyes-moh {
  position: absolute;
  top: -2.2rem;
  z-index: 1;
  width: 3rem;
  height: 1.6rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  border-radius: 0 0 18rem 18rem;
  background-color: var(--pink-light);
  transform: rotate(35deg);
}
.eyes-moh::after {
  content: "";
  position: absolute;
  top: -0.4rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--black);
}
.eyes-moh::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  width: 3rem;
  height: 1.6rem;
  border-bottom: 1px solid var(--black);
  border-radius: 50%;
  transform: rotate(-35deg);
}
.eye-left-moh {
  left: -1rem;
}
.eye-right-moh {
  right: -0.8rem;
  top: -2.4rem;
  transform: rotateY(180deg) rotate(35deg);
}
.nose-moh {
  position: absolute;
  top: 0rem;
  left: 2.8rem;
  width: 1rem;
  height: 2rem;
  border-top: 2px solid var(--black);
  border-radius: 50%;
}
.nose-moh::after {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: -0.8rem;
  z-index: 1;
  width: 0.8rem;
  height: 1.8rem;
  border-top: 2px solid var(--black);
  border-radius: 50%;
}
.mouth-moh {
  position: absolute;
  left: 1rem;
  bottom: 2.4rem;
  width: 4rem;
  height: 2rem;
  border: 1px solid var(--black);
  border-bottom: none;
  border-radius: 10rem 10rem 0 0;
  background-color: var(--white);
  overflow: hidden;
}
.mouth-moh::after {
  content: "";
  position: absolute;
  left: -0.4rem;
  bottom: -1.2rem;
  width: 4.4rem;
  height: 2rem;
  border: 1px solid var(--black);
  border-radius: 10rem 10rem 0 0;
  background-color: var(--green-light);
}
.teeth {
  position: absolute;
  width: 0.8rem;
  height: 3rem;
  border: 1px solid var(--black);
}
.teeth-1 {
  top: 1rem;
  left: 0.2rem;
  transform: skewY(50deg) rotate(10deg);
}
.teeth-2 {
  top: 0.2rem;
  left: 1rem;
  transform: skewY(50deg) rotate(12deg);
}
.teeth-3 {
  top: 0rem;
  left: 2rem;
  transform: skewY(50deg) rotate(18deg);
}
.teeth-4 {
  top: 0.6rem;
  right: 0em;
  transform: skewY(50deg) rotate(18deg);
}
.layer {
  position: absolute;
  top: 11rem;
  right: -12rem;
  width: 23rem;
  height: 13rem;
  border-radius: 10rem 1rem 0rem 2rem;
  border: 1px solid var(--black);
  background-color: var(--purple);
  transform: skewX(-35deg) rotate(-2deg);
  transform-style: preserve-3d;
}
.layer::after {
  content: "";
  position: absolute;
  top: 3rem;
  right: -1rem;
  width: 15rem;
  height: 8rem;
  border-left: 3px solid var(--black);
  border-radius: 8rem 8rem 0rem 0rem;
}
.layer::before {
  content: "";
  position: absolute;
  top: 6rem;
  right: 2rem;
  width: 10rem;
  height: 10rem;
  border-left: 1px solid var(--black);
  border-radius: 8rem 6rem 0rem 0rem;
  transform: rotate(50deg);
}
.layer-1 {
  position: absolute;
  top: 11.6rem;
  right: -17.7rem;
  width: 7.2rem;
  height: 5rem;
  border-top: 1px solid var(--black);
  border-right: none;
  border-bottom: none;
  border-radius: 50%;
  background-color: var(--white);
  transform: skewY(-12deg) rotate(-38deg);
}
.layer-2 {
  position: absolute;
  top: 17rem;
  right: -12.3rem;
  width: 3.2rem;
  height: 4.7rem;
  border-right: 1px solid var(--black);
  background-color: var(--purple);
  border-radius: 0 10rem 12rem 0;
  transform: rotate(10deg) skewX(-30deg);
}
.layer-3 {
  position: absolute;
  top: 21.4rem;
  right: -11rem;
  width: 4rem;
  height: 2rem;
  border-left: 1px solid var(--black);
  border-right: none;
  border-radius: 50%;
  background-color: var(--white);
  transform: skewY(-20deg);
}
.layer-4 {
  position: absolute;
  top: 22rem;
  right: -8rem;
  width: 19rem;
  height: 3.2rem;
  border-top: 1px solid var(--black);
  border-right: none;
  border-bottom: none;
  background-color: var(--white);
  border-radius: 50%;
}
.body-moh {
  position: relative;
  height: 13.5rem;
  perspective: 8rem;
}
.chest-moh {
  position: relative;
  margin: auto;
  border: 1px solid black;
  transform-style: preserve-3d;
  background-color: var(--blue);
  overflow: hidden;
}
.chest-up-moh {
  width: 8.3rem;
  height: 10rem;
  top: -3.2rem;
  transform: rotateX(-80deg);
  z-index: 1;
}
.chest-low-moh {
  top: -7.2rem;
  z-index: 1;
  width: 6.3rem;
  height: 4.8rem;
  transform: rotateX(50deg);
}
.belt {
  position: absolute;
  left: -0.1rem;
  z-index: 2;
  width: 12rem;
  height: 3rem;
  border: 1px solid black;
  background-color: var(--white);
}
.belt::after {
  content: "";
  position: absolute;
  top: -3.2rem;
  left: 1.5rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  background: var(--purple);
  transform: rotate(70deg) skew(50deg);
}
.arm-moh {
  position: absolute;
  width: 4.5rem;
  height: 15rem;
  top: -8rem;
  border: 1px solid black;
  border-radius: 50%;
  background: var(--black);
  transform: skew(-7deg);
  perspective: 1rem;
}
.arm-left-moh {
  left: 1.5rem;
}
.arm-right-moh {
  right: 1.5rem;
  transform: rotateY(180deg);
}
.gloves {
  position: relative;
  top: 12rem;
  left: 0.2rem;
  width: 3rem;
  height: 5rem;
  border: 1px solid black;
  transform-style: preserve-3d;
  transform: rotateX(-6deg);
  background: var(--white);
}
.finger-1 {
  position: absolute;
  top: 15rem;
  left: 0.1rem;
  width: 1.2rem;
  height: 1rem;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  transform: skew(50deg) rotate(-10deg);
}
.finger-2 {
  position: absolute;
  top: 15.9rem;
  left: 1rem;
  width: 1.3rem;
  height: 0.9rem;
  border: 1px solid black;
  border-top: none;
  transform: rotate(10deg);
}
.finger-3 {
  position: absolute;
  top: 15.3rem;
  left: 2.4rem;
  width: 1.2rem;
  height: 1rem;
  border: 1px solid black;
  border-top: none;
  transform: rotate(-50deg);
}
.boots {
  position: absolute;
  top: 4.8rem;
  width: 1rem;
  height: 4.5rem;
  border: 1px solid black;
  background-color: var(--white);
}
.boots::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: -2.9rem;
  width: 4.8rem;
  height: 2rem;
  border: 1px solid black;
  border-bottom: none;
  background: var(--white);
  transform: rotate(-60deg) skew(50deg);
}
.boot-left {
  left: 11.6rem;
}
.boot-right {
  transform: rotateY(180deg);
  right: 11.2rem;
}
/* bunny */
.bunny {
  position: absolute;
  width: 80px;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.bunny-1 {
  top: -15%;
  left: 20%;
  height: 240px;
  transform: rotate(128deg);
  animation-name: move-bunny;
}
.bunny-2 {
  top: 50%;
  left: 10%;
  height: 70px;
  transform: rotate(80deg);
  animation-name: move-bunny;
}
.bunny-3 {
  bottom: -3%;
  left: 40%;
  height: 80px;
  animation-name: move-bunny-down;
}
.bunny-4 {
  top: 50%;
  right: 10%;
  height: 70px;
  transform: rotate(-80deg);
  animation-name: move-bunny-right;
}
.bunny-5 {
  top: -15%;
  right: 20%;
  height: 240px;
  transform: rotate(-128deg);
  animation-name: move-bunny-right;
}
.left-ear-outer {
  position: absolute;
  left: 10%;
  width: 20px;
  height: 60px;
  border-radius: 90%;
  background: white;
}
.left-ear-inner {
  position: absolute;
  top: 10px;
  left: 15%;
  width: 12px;
  height: 50px;
  border-radius: 90%;
  background: rgb(229, 147, 147);
}
.right-ear-outer {
  position: absolute;
  right: 10%;
  width: 20px;
  height: 60px;
  border-radius: 90%;
  background: white;
}
.right-ear-inner {
  position: absolute;
  top: 10px;
  right: 15%;
  width: 12px;
  height: 50px;
  border-radius: 90%;
  background: rgb(229, 147, 147);
}
.head-bunny {
  position: absolute;
  top: 33px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}
.head-bunny:hover {
  cursor: pointer;
}
.eye-bunny {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(68, 61, 61);
  animation-name: move-eye;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* bear */
.bear {
  position: relative;
  width: 180px;
  height: 180px;
  top: 30%;
  left: calc(50% - 80px);
}
.bear::after{
  content: '';
  position: absolute;
  bottom: -15%;
  z-index: -1;
  width: 180px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 3px 4px 4px rgb(151, 138, 138);
  background-color: rgba(165, 158, 158, 0.8);
}
.head-container-bear{
  position: relative;
  z-index: 1;
  animation-name: move-bear;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.head-bear{
  position: relative;
  margin: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
}
.ear-bear{
  position: absolute;
  top: -2%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000000;
}
.left-ear-bear{
  left: 5%;
}
.right-ear-bear{
  right: 5%;
}
.eye-bear{
  position: absolute;
  top: 25%;
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50%;
}
.left-eye-bear{
  left: 7%;
}
.right-eye-bear{
  right: 7%;
}
.pupil-bear{
  position: absolute;
  top: 18%;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
}
.left-pupil-bear{
  right: 15%;
}
.right-pupil-bear{
  left: 15%;
}
.nose-bear{
  position: absolute;
  bottom: 25%;
  left: 38%;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
.nose-bear::after{
  content: '';
  position: absolute;
  top: 80%;
  left: -10%;
  width: 20px;
  height: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 0 20px 20px;
}
.nose-bear::before{
  content: '';
  position: absolute;
  top: 80%;
  right: -10%;
  width: 20px;
  height: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 0 20px 20px;
}
.body-bear{
  position: relative;
  top: -15%;
  margin: auto;
  width: 120px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid black;
  background-color: white;
}
.arm-bear{
  position: absolute;
  top: -5%;
  width: 30px;
  height: 55px;
  border-radius: 20px;
  background-color: black;
  animation-name: move-bear-arm;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.left-arm-bear{
  left: -15%;
  transform: rotate(30deg);
}
.right-arm-bear{
  right: -15%;
  transform: rotate(-30deg);
}
.leg-bear{
  position: absolute;
  bottom: -10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  animation-name: move-bear;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.left-leg-bear{
  left: -8%;
}
.right-leg-bear{
  right: -8%;
}
.foot-bear{
  position: absolute;
  bottom: 1%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.left-foot-bear{
  left: 10%;
}
.right-foot-bear{
  right: 10%;
}
.eye-bunny-left {
  position: inherit;
  left: 25%;
  top: 30%;
}
.eye-bunny-right {
  position: inherit;
  right: 25%;
  top: 30%;
}
.nose-bunny {
  position: inherit;
  top: 40%;
  right: 38%;
  width: 16px;
  height: 10px;
  border-radius: 8px;
  background-color: rgb(68, 61, 61);
}
.nose-bunny::after {
  content: "";
  position: relative;
  top: 10%;
  right: 30%;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
@keyframes move-bunny {
  0% {left: 0;}
  25% {left: -80px;}
  100% {left: 0;}
}
@keyframes move-bunny-down {
  0% {bottom: 0;}
  25% {bottom: -80px;}
  100% {bottom: 0;}
}
@keyframes move-bunny-right {
  0% {right: 0;}
  25% {right: -80px;}
  100% {right: 0;}
}
@keyframes move-bear {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}
@keyframes move-bear-arm {
  0% {top: 0;}
  25% {top: -2%;}
  50% {top: -4%;}
  100% {top: 0;}
}
@keyframes move-eye {
  0% {height: 4px;}
  5% {
    height: 2px;
    transform: translate(0px, 2px);
  }
  10% {
    height: 4px;
    transform: translate(0px, 0px);
  }
}
/* MEDIA QUERY */
@media only screen and (max-width: 900px) {
  .powerpuff {
    width: 19.3rem;
  }
}
@media only screen and (max-width: 600px) {
  .powerpuff-bellota {
    display: none;
  }
  .powerpuff-burbuja {
    top: 0;
  }
  .powerpuff {
    width: 22rem;
  }
}