:root {
  --primary-green: #32df7f;
  --pink: #dd7deb;
  --soft-dark: #7b7a86;
  --dark: #39364e;
  --just-white: #fcfdfb;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: var(--dark);
}
body {
  font-size: 1.6rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
.terminos{
  padding: 30px;
  width: 80%;
  margin: 20px auto;
}
.terminos h1{
  padding: 10px;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  color: var(--pink); 
}
.terminos ol{
  padding-left: 20px;
  color: var(--pink);
}
.terminos h2{
  padding-top: 16px;
  font-weight: 500;
}
.terminos h3{
  font-weight: 400;
  color: var(--primary-green);
}
.terminos p{
  color: var(--soft-dark);
}